.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.navbar {
  padding: 2rem 0;
  @media (max-width: 767px) {
    padding: 1.5rem 0;
  }
}
